{% extends "base.html" %}

{% block content %}
<div class="container main-content">
    <h1>About</h1>

    <p>
        Welcome to No Nonsense Recipes. I made this site because I like to cook and I got tired of all the recipe websites that make you scroll past a long, irrelevant story before you get to the recipe. If it's not that, it's bombarding you with ads or begging you to sign up for a newsletter. I wanted to make a site that would be focused on the users. No Nonsense Recipes puts the user first by focusing on just the recipe, nothing else.
    </p>

    <p> 
        Because I want my incentives to be aligned with the users of the site, I charge a nominal fee to support the ongoing development and maintenance. This way I can ensure that users here are the customer, not the product. Every optimization that makes a site better at advertising, makes it worse for the users.
    </p>

    <p>
        I'm always happy to hear suggestions and feedback. Please <a href="mailto:admin@nononsense.recipes">email me</a> with any comments. 😃
    </p>
</div>
{% endblock content %}