{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid bg-white">
    
    <div class="container">
        <h1 class="display-2 landing-info">No Nonsense Recipes</h1>
        <p class="lead landing-lead landing-info">
            Save, Organize, and Discover your favorite recipes.
        </p>
        <div class="row benefit-row">
            <div class="col-md-1 benefit-index">
                <img src="{% static 'images/circle-check.svg' %}" alt="yes"/>
            </div>
            <div class="col-md-6 benefit-text">
                Recipes. Tons of them. Presented simply and cleanly.
            </div>
        </div>
        <div class="row benefit-row">
            <div class="col-md-1 benefit-index">🚫</div>
            <div class="col-md-6 benefit-text">
                No ads or tracking. We respect your privacy.
            </div>
        </div>
        <div class="row benefit-row">
            <div class="col-md-1 benefit-index">🚫</div>
            <div class="col-md-6 benefit-text">
                No long-winded stories, endless photo collages or other SEO tricks
            </div>
        </div>
        {% if not request.user.is_authenticated %}
        <p class="call-to-action">
            <a class="btn btn-lg btn-success signup-button" href="{% url 'account_signup' %}">Sign up now</a> for a 30-day free trial, then only $19 per year for unlimited access.
        </p>
        {% endif %}      
    </div>

</div>  

{% endblock %}