{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="main-content">
  <h1>{% trans "Sign Up" %}</h1>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <div class="row">
    <div class="col-md-7">
      {% if form.errors %}{{ form.errors }}{% endif %}
      {% crispy form %}
    </div>
    <div class="col-md-5">
      <h2>What's Next</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Check your email for a confirmation email from us. Click on the link to verify your email address.
          </li>
          <li class="list-group-item">
            Enter your payment information. You won't be charged until the end of the free trial period.
          </li>
          <li class="list-group-item">
            That's it! You're ready to start browsing, saving, and sharing recipes!
          </li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}
