{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="main-content">
  <div style="display: none;">{{ check }}</div>
  <h1>{% trans "Sign Up" %}</h1>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  {% if form.errors %}{{ form.errors }}{% endif %}
  {% crispy form %}
</div>  
{% endblock %}

{% block morejs %}
<script>
$("#user-info").collapse("show");
$("#id_password2").focusout(function() {$("#your-favorite-recipe").collapse("show");});
</script>
{{ form.media }}
{% endblock morejs %}