{% extends "base.html" %}

{% block content %}
<h1>Thank you!</h1>
<p>
    Thank you for signing up for an account at No Nonsense Recipes! You're
    almost there. Just two more steps to complete your signup.
</p>
<ol class="list-group">
    <li class="list-group-item">
        <button id="pay-button" class="btn btn-primary">Click here</button> to
        submit your payment information through our payment processor, Stripe.
        You will be redirected to Stripe's secure page to enter your credit card
        information.
    </li>
    <li class="list-group-item"> 
        Confirm your email. Once your payment is complete, please check your
        email and click on the link to confirm your email address. Then your account
        will be ready to use.
    </li>
</ol>

{% endblock content %}
