argon2-cffi==19.1.0
asgiref==3.2.3
boto3==1.12.14
botocore==1.15.14
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Collectfast==1.0.0
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.6.0
Django==3.0.1
django-allauth==0.41.0
django-anymail==7.0.0
django-crispy-forms==1.8.1
django-environ==0.4.5
django-model-utils==3.2.0
django-redis==4.11.0
django-storages==1.9.1
djangorestframework==3.10.2
docutils==0.15.2
gunicorn==19.9.0
idna==2.9
itypes==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
Markdown==3.0.1
MarkupSafe==1.1.1
oauthlib==3.1.0
Pillow==6.1.0
psycopg2==2.8.3
pycparser==2.20
python-dateutil==2.8.1
python-slugify==3.0.3
python3-openid==3.1.0
pytz==2019.2
redis==3.4.1
requests==2.23.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.1
stripe==2.40.0
text-unidecode==1.2
typing==3.7.4.1
typing-extensions==3.7.4.1
uritemplate==3.0.1
urllib3==1.25.8
