alabaster
appdirs
argon2-cffi
asgiref
astroid
atomicwrites
attrs
Babel
backcall
backports.zoneinfo;python_version<"3.9"
beautifulsoup4
black
boto3
botocore
certifi
cffi
chardet
click
Collectfast
coreapi
coreschema
coverage
cryptography
decorator
defusedxml
Django
django-allauth
django-anymail
django-coverage-plugin
django-crispy-forms
django-environ
django-extensions
django-model-utils
django-pipeline
django-storages
djangorestframework
docutils
entrypoints
factory-boy
Faker
flake8
gunicorn
idna
imagesize
ipdb
ipython
ipython-genutils
isort
itypes
jedi
Jinja2
jmespath
lazy-object-proxy
Markdown
MarkupSafe
matplotlib-inline
mccabe
more-itertools
mypy
mypy-extensions
oauthlib
packaging
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
pluggy
progress
prompt-toolkit
psycopg2
psycopg2-binary
ptyprocess
py
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
pylint
pylint-django
pylint-plugin-utils
pyparsing
pytest
pytest-django
pytest-sugar
python-dateutil
python-slugify
python3-openid
pytz
redis
regex
requests
requests-oauthlib
s3transfer
six
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
stripe
termcolor
text-unidecode
toml
tomli
traitlets
typed-ast
typing
typing-extensions
uritemplate
urllib3
wcwidth
Werkzeug
wrapt
