{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-content">
    <p> 
        We will now redirect you to our payment processor, Stripe, to securely collect your payment information.
    </p>
    <p>
        Please select either a monthly or annual plan and click the button below to continue.
    </p>

    {% crispy form %}
    <button id="enterPaymentInfo" class="btn btn-primary btn-lg" disabled="true">&raquo; Enter payment information.</button>
</div>
{% endblock content %}

{% block morejs %}
<script src="{% static 'js/payment.min.js' %}"></script>
{% endblock morejs %}
