{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-content">
    <p> 
        We will now redirect you to our payment processor, Stripe, to securely collect your payment information.
    </p>
    <p>
        When ready, please click the button below to continue.
    </p>
    {% csrf_token %}
    <button id="enterPaymentInfo" class="btn btn-primary btn-lg">&raquo; Enter payment information.</button>
</div>
{% endblock content %}

{% block morejs %}
<script src="{% static 'js/payment.js' %}"></script>
{% endblock morejs %}
