{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Recipes
{% endblock %}


{% block content %}
<div class="main-content">
<h1>Recipes</h1>
    <div class="menu">
        <a href="{% url 'main:tag_list' %}">Browse by tag</a>
    </div>
    <ul>
        {% for recipe in object_list %}
        <li>
            <a href="{% url 'main:recipe_detail' slug=recipe.title_slug %}">{{ recipe.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% include "main/pagination.html" %}
</div>
{% endblock %}