{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="main-content">
<h1>{{ title }}</h1>
    <nav id="letter-nav" aria-label="letter navigation">
        <ul class="pagination pagination-sm">
            <li class="page-item">
                <a class="page-link" href="{% url 'recipes:tag_list' %}">Tags</a>
            </li>
            {% for lc in lettercounts %}
            <li class="page-item {% if lc.quantity < 1 %}disabled{% endif %}{% if lc.letter == current %}active{% endif %}">
                <a class="page-link" href="{% url 'recipes:letter_recipe' lc.letter %}">
                    {{ lc.letter }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="main-list">
        {% include "recipes/recipe_ul.html" %}
    </div>
    {% include "recipes/pagination.html" %}
</div>
{% endblock %}