{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{% if object %}Update{% else %}Add{% endif %} Recipe
{% endblock %}


{% block content %}
<div class="form-container main-content">
    <h1>{% if object %}Update{% else %}Add{% endif %} Recipe</h1>
    <p class="text-muted">* indicates field is required <br></p>
    {% include "markdown_help.html" %}
    {% crispy form %}
</div>
{% endblock %}

{% block morejs %}
<script src="{% static 'js/add.js' %}"></script>
{% endblock morejs %}