{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block morecss %}
<link href="{% static 'css/comments.css' %}" rel="stylesheet">
<meta name="user_id" content="{{ request.user.id }}">
<meta name="recipe_id" content="{{ recipe.id }}">
{% endblock morecss %}


{% block title %}
{{ recipe.title }}
{% endblock %}


{% block content %}
<div class="container main-content">
    <h1>{{ recipe.title }}</h1>
    <div class="byline">
        Submitted by: 
        {% if recipe.user %}
        <a href="{% url 'users:detail' recipe.user.username %}">{{ recipe.user.username }}</a>
        {% else %}
        <em>deleted</em>
        {% endif %}
    </div>
    <div class="quantity recipe-section">
        {{ recipe.quantity_html|safe }}
    </div>
    
    <h2>Ingredients</h2>
    <div class="ingredients">
        {{ recipe.ingredients_html|safe }}
    </div>
    <h2>Instructions</h2>
    <div class="instructions">
        {{ recipe.instructions_html|safe }}
    </div>

    <div class="user-options row recipe-section">
        <div class="col-sm-4">
            {% crispy rateform %}
        </div>
        <div class="col-sm-2">
            {% if average_rating %}
            {{ average_rating }} ⭐ avg.
            {% endif %}
        </div>
        <div class="col-sm-2">
            {% crispy saveform %}
        </div>
    {% if recipe.user == request.user or request.user.is_staff %}
        <div class="col-sm-4">
            <a href="{% url 'recipes:recipe_update' recipe.title_slug %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'recipes:recipe_delete' recipe.title_slug %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    {% endif %}
    </div>

    <div class="tags recipe-section">
        <h2>Tags</h2>
        <p>
            {% for tag in tag_list %}
            <a href="{% url 'recipes:tag_detail' tag.slug %}" 
               title="{{ tag.count }} user{{ tag.count|pluralize }} tagged this recipe as {{ tag.name }}">
                {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% crispy tagform %}
        <small class="form-text text-muted">{{ tagform.fields.tags.help_text }}</small>
    </div>

    {% include 'comment_container.html' %}
</div>
{% endblock %}

{% block morejs %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock morejs %}
