{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cache %}
{% load main_extra %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="main-content">
<h1>{{ title }}</h1>
    <nav id="letter-nav" aria-label="letter navigation">
        <ul class="pagination pagination-sm">
            <li class="page-item">
                <a class="page-link" href="{% url 'recipes:tag_list' %}">Tags</a>
            </li>
            {% cache 604800 lettercounts request.path|path_to_key %}
            {% for lc in lettercounts %}
            <li class="page-item {% if lc.quantity < 1 %}disabled{% endif %}{% if lc.letter == current %}active{% endif %}">
                <a class="page-link" href="{% url 'recipes:letter_recipe' lc.letter %}">
                    {{ lc.letter }}
                </a>
            </li>
            {% endfor %}
            {% endcache %}
        </ul>
    </nav>
    <div class="main-list">
        {% cache 3600 recipe_list request.path page_obj.number %}
        {% include "recipes/recipe_ul.html" %}
        {% endcache %}
    </div>
    {% include "recipes/pagination.html" %}
</div>
{% endblock %}

{% block morejs %}
<script src="{% static 'js/responsive-paginate.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".pagination").rPage();
    });
</script>
{% endblock %}