{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Recipe of the Day - {{ recipe.title }}
{% endblock %}


{% block content %}
<div class="main-content">
    <h1>Recipe of the Day - {{ recipe.title }}</h1>
    <div class="byline">
        Submitted by: <a href="{% url 'users:detail' recipe.user.username %}">{{ recipe.user.username }}</a>
    </div>
    
    <h2>Ingredients</h2>
    <div class="ingredients">
        {{ recipe.ingredients_html|safe }}
    </div>
    <h2>Instructions</h2>
    <div class="instructions">
        {{ recipe.instructions_html|safe }}
    </div>
    {% if  not request.user.is_authenticated %}
    <p class="call-to-action">
        Want more great recipes?
    </p>    
    <p class="call-to-action">
            <a class="btn btn-lg btn-success signup-button" href="{% url 'account_signup' %}">Sign up now</a> for a 30-day free trial, then only $19 per year for unlimited access.
    </p>
    {% endif %}
    
</div>
{% endblock %}