{% extends "base.html" %}

{% block title %}
Tags
{% endblock %}


{% block content %}
<div class="main-content">
    <h1>Tags</h1>
    <div class="main-list">
        <div class="row">
            {% for tag in object_list %}
            <div class="col-sm-2">
                <a href="{% url 'recipes:tag_detail' tag.name_slug %}">{{ tag }}</a>
            </div>
            {% if forloop.counter|divisibleby:6 %}
            </div>
            <div class="row">
            {% endif %}
            {% empty %}
            <p>No tags found</p>
            {% endfor %}
        </div>
    </div>
    {% include "recipes/pagination.html" %}
</div>
{% endblock %}