{% extends "users/user_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block user_content %}
  <h2>{{ user.username }}</h2>
  {% if user.name %}
    <p>{{ user.name }}</p>
  {% endif %}

  {% if request.user == user %}

    <p>Subscription status: {{ user.profile.get_subscription_status_display }}</p>

    {% if has_sub %}
      {% if cancel_at_period_end %}
      <p>Your subscription will expire on {{ subscription_end }}. You will not be charged.</p>
      {% crispy reactivate_form %}
      {% else %}
      <p>Your subscription will automatically be renewed for ${{ amount|floatformat:2 }} USD on {{ subscription_end }}.</p>
      {% crispy cancel_form %}
      {% endif %}
    {% endif %}

  {% endif %}

{% endblock user_content %}

