{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
<div class="user-main">
    <div class="row">
        <div class="col-lg-2 bg-light">
            <ul class="nav flex-column">
                {% if  request.user == user %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'users:update' %}">My Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_email' %}">E-Mail</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    Recipes
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:submitted_recipes' user.username %}">Submitted</a>
                        </li>                 
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:user_tags' user.username %}">Tagged</a>
                        </li>                        
                        {% if  request.user == user %}   
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:saved_recipes' user.username %}">Saved</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:rated_recipes' user.username %}">Rated</a>
                        </li>
                        
                        {% endif %}
                    </ul>
                </li>
                {% if request.user == user %}
                <li class="nav-item">
                    Account
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:update_payment' %}">Payment</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-8">
            <div id="user-content">
            {% block user_content  %}
            {% endblock user_content %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

