.comment {
    margin-bottom: 15px;
}

.comment-container {
    max-width: 800px;
}

.form-actions {
    display: flex;
    justify-content: end;
}

.form-actions * {
    margin-left: 1rem;
}

.comment-error {
    max-width: 600px;
}

.comment-ts {
    margin-left: 1.5rem;
}

.comment-control {
    margin-left: 3rem;
    display: inline;
}

.comment-dropdown {
    font-weight: 750;
}

.comment-header {
    font-size: 0.9rem;
}

#comment-list {
    margin-top: 1.5rem;
}